:root{
    --white-spacing:176px;
    --myprimary-color:white;
}
body{
    font-family: 'inter', sans-serif;
}
header , main{
    padding-left: var(--white-spacing);
    padding-right: var(--white-spacing);
}
.bg-myprimary-color{
    background-color: white !important;
}
.navbar-nav{
    justify-content: flex-end !important;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.navbar{
    position: relative;
}
.ellipse-glow-left{
    position: absolute;
    top: -60%;
    left: -70%;
    width: 679px;
    height: 679px;
    background-color: rgba(142,173,213,0.3);
    border-radius: 50%;
    filter: blur(30px);
    z-index: -1;
    
}
.hero{
    margin-top: 97px;
}
.hero .my-bg-light{
    background-color: var(--myprimary-color) !important;
}
.trust-comp-section{
    margin-top: 157px;

}
.besiness-people {
    max-width: 450px;
}
.btn{
    background-color: #8EADD5;
    border: none;
    border-radius: 8px;
    color:#FFFFFF;
}
.container p{
    color: #667085;
}
.brand-section , .dev-section , .Carousel-sec , .Bepart-section , .footer-sec{
    margin-top: 136px;
}
.dev-section{
    position: relative;
}
.ellipse-glow{
    position: absolute;
    top: -60%;
    right: -70%;
    width: 679px;
    height: 679px;
    background-color: rgba(142,173,213,0.3);
    border-radius: 50%;
    filter: blur(30px);
    z-index: -1;
    
}
.photo-card{
    border: none !important;
    border-radius: 20px;
    margin-bottom: 40px;
    
}
.photo-card img{
    padding: 32px 108px 8px 108px;
}
.photo-card h4{
    color: #272D38 !important;
    padding-bottom: 27px;
}
.photo-card p{
    max-width: 281px;
    font-size: 14px;
    color: #272D38 !important;
}


.Bepart-section{
    margin-bottom: 136px !important;
}
footer .container-fluid{
    padding-left: 183px;
    padding-right: 183px;
}
footer .fw-bold{
    margin-bottom: 40px;
}
.list-unstyled li{
    margin-bottom: 24px !important;
}
.footer .right-copy{
    margin-top: 110px;
    font-size: 16px;
}
footer .row{
    margin-top: 105px;
}
@media screen and (max-width:992px) {
    .ellipse-glow{
        right: -20vw;
        width: 40vw;
        filter: blur(8vw);
    }
    .ellipse-glow-left{
        left: -20vw;
        width: 40vw;
        filter: blur(8vw);
    }
    
}